/*
 * Title: 页面级CSS
 * Author: MinterLee@hotmail.com
 * CreateDate: 2016-01-26
 * Description: 该模块下页面级CSS。
 */
header, section, footer { width:1000px; margin: 0 auto; }
header { height: 60px;  background: #6666CC;}
header .logo { width: 100px; height: 60px; display: inline-block; vertical-align: top; }
header .title { line-height: 60px; display: inline-block; font-size: 24px; padding-left: 20px; color: #ffffff;}

section { height: 700px; margin-top: 10px; background: #f5f5f5;}

