/*
 * Title: 工具栏样式
 * Author: MinterLee@hotmail.com
 * CreateDate: 2017-09-20
 * Description: 支持CSSModule语法，同时尽量做到：
 * 1. 不使用选择器，只是用class名来定义样式
 * 2. 不层叠多个class，只使用一个class把所有样式定义好
 * 3. 所有样式通过compose组合来实现服用
 * 4. 不嵌套
 * 5. 尽量做到以上4点，初期可以折中。
 */
 .footbar {
    background: #ddd;
    border: 1px solid #ddd;
    width: 480px;
    margin-left: 50px;
    height: 35px;
    line-height: 35px;
    padding: 0px 10px;
    position: absolute;
 }