/*
 * Title: todo输入框样式
 * Author: MinterLee@hotmail.com
 * CreateDate: 2016-09-19
 * Description: 支持CSSModule语法，同时尽量做到：
 * 1. 不使用选择器，只是用class名来定义样式
 * 2. 不层叠多个class，只使用一个class把所有样式定义好
 * 3. 所有样式通过compose组合来实现服用
 * 4. 不嵌套
 * 5. 尽量做到以上4点，初期可以折中。
 */

.inputOption {
    height: 36px;
    line-height: 36px;
    margin-left: 70px;
    width: 450px;
    padding-left: 10px;
    font-size: 20px;
}
.error {
    color: red;
    line-height: 18px;
    height: 18px;
    width: 450px;
    font-size: 16px;
    text-align: left;
    display: none;
}

.displayBlock {
    display: block;
}